# ASP.NET Core 7
bin/
obj/

# .NET Core
*.dll
*.exe
*.pdb
*.userprefs
project.lock.json
.DS_Store
nuget.*
paket.*
paket-files/
*.swp
app.publish/
publish/
*.log
*.cache
*.tmp
*.VS.cache
*.VS.testhost.log
.vscode/
*.vs/
.vsconfig
*.dotCover

# Visual Studio Code
.vscode/
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.vscode-test/

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/

# Visual Studio
*.user
*.suo
*.ntvs*
*.nupkg
*.old
*.bak
*.cache
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.docstates
*.dotCover
*.clb
*.vc.db
*.dbmdl
*.iobj
*.ipdb
*.log
*.vsp
*.vspx
*.svd
*.sqlproj.user
*.cppproj.user
*.vcxproj.user
*.userprefs
*.hdf
*.vcxproj.*
*.VC.opendb
*.VC.db
*.VC.VC.opendb
*.VC.VC.db
*.bak
*.cache
*.sdf
*.opensdf
*.sln.docstates

# Rider
.idea/
*.sln.iml
*.ipr
*.iws
.idea_modules/

# Test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# Resharper
_resharper*
*.[Rr]e[Ss]harper
*.DotSettings.user
*.suo
*.sln.DotSettings.user
*.sln.DotSettings.user.lock
*.csproj.DotSettings.user
*.csproj.DotSettings.user.lock

# Package Files
*.nupkg
*.snupkg
*.pupkg
*.vsix
*.zip
*.tar.gz
*.tar.bz2
*.tar
*.7z
*.appx
*.apk
*.ipa
*.jar
*.xap
*.exe
*.msi
*.msp
*.dll
*.dylib
*.so
*.bundle
*.pdb
*.mdb
*.xml
*.html

# Others
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
[Aa]ssets/
*.ilk
*.meta
*.swp
[Tt]humbs.db
*.xml
*.unityproj
*.tmp
*.tmp_proj
*.csv
*.bak
*.cache
*.settings
*.bak
*.pdf
*.yml
*.env
*.env.development
*.env.local
*.env.test
*.env.production
*.env*.local
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*